registerDns: false

memoryRequests: '512Mi'
cpuRequests: '100m'
memoryLimits: '1024Mi'
cpuLimits: '2500m'
readinessPath: '/health'
readinessDelay: 30
readinessTimeout: 3
readinessPeriod: 15
livenessPath: '/health'
livenessDelay: 30
livenessTimeout: 3
livenessPeriod: 15
livenessFailureThreshold: 3

importer:
  cron:
    enabled: false
    schedule: '*/5 * * * *'
    concurrencyPolicy: Forbid
    image: hmcts/feature-toggle-importer
    command: echo FEATURE_TOGGLE_API_URL=${FEATURE_TOGGLE_API_URL}
    imagePullPolicy: Always
  oneoff:
    enabled: true
    image: hmcts/feature-toggle-importer
    command: echo FEATURE_TOGGLE_API_URL=${FEATURE_TOGGLE_API_URL}
    imagePullPolicy: Always

java:
  image: hmcts/feature-toggle-api
  ingressHost: ${SERVICE_FQDN}
  releaseNameOverride: ${SERVICE_NAME}-ft-api
  applicationPort: 8580
  environment:
    APPINSIGHTS_INSTRUMENTATIONKEY: fake-key
    FLYWAY_ENABLED: true
    FLYWAY_NOOP_STRATEGY: false
    FEATURES_DB_HOST: ${SERVICE_NAME}-ft-db
    FEATURES_DB_USER_NAME: features
    FEATURES_DB_PASSWORD: features
    ADMIN_USERNAME_TEST: ${ADMIN_USERNAME_TEST}
    ADMIN_PASSWORD_TEST: ${ADMIN_PASSWORD_TEST}
    EDITOR_USERNAME_TEST: ${EDITOR_USERNAME_TEST}
    EDITOR_PASSWORD_TEST: ${EDITOR_PASSWORD_TEST}
    LOGBACK_REQUIRE_THREAD: false
    LOGBACK_REQUIRE_ALERT_LEVEL: false
    LOGBACK_REQUIRE_ERROR_CODE: false

postgresql:
  nameOverride: ft-db
  postgresqlDatabase: hmcts
  postgresqlUsername: hmcts
  postgresqlPassword: hmcts
  livenessProbe:
    initialDelaySeconds: 10
    periodSeconds: 10
  readinessProbe:
    initialDelaySeconds: 10
    periodSeconds: 10
  initdbScripts:
    init.sql: |-
      CREATE USER features WITH PASSWORD 'features';
      CREATE DATABASE features WITH OWNER = features ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
  persistence:
    enabled: false
