image: hmcts/feature-toggle-api
registerDns: false
applicationPort: 8580
memoryRequests: '512Mi'
cpuRequests: '100m'
memoryLimits: '1024Mi'
cpuLimits: '2500m'
readinessPath: '/health'
readinessDelay: 30
readinessTimeout: 3
readinessPeriod: 15
livenessPath: '/health'
livenessDelay: 30
livenessTimeout: 3
livenessPeriod: 15
livenessFailureThreshold: 3
environment:
  JAVA_OPTS: -Xms8m -Xmx256m -Djava.security.egd=file:/dev/./urandom -XX:MaxMetaspaceSize=128m
  APPINSIGHTS_INSTRUMENTATIONKEY: fake-key
  FLYWAY_ENABLED: true
  FLYWAY_NOOP_STRATEGY: false
  FEATURES_DB_USER_NAME: features
  FEATURES_DB_PASSWORD: features
  ADMIN_USERNAME_TEST: admin@example.com
  ADMIN_PASSWORD_TEST: Password12
  EDITOR_USERNAME_TEST: editor@example.com
  EDITOR_PASSWORD_TEST: Password12
  LOGBACK_REQUIRE_THREAD: false
  LOGBACK_REQUIRE_ALERT_LEVEL: false
  LOGBACK_REQUIRE_ERROR_CODE: false
importer:
  enabled: true
  image: hmcts/feature-toggle-importer
  command: /scripts/cmc/add-toggles.sh
  imagePullPolicy: Always
  schedule: '*/5 * * * *'
  concurrencyPolicy: Forbid

postgresql:
  nameOverride: postgres
  postgresqlUsername: hmcts
  postgresqlPassword: hmcts
  livenessProbe:
    initialDelaySeconds: 10
    periodSeconds: 10
  readinessProbe:
    initialDelaySeconds: 10
    periodSeconds: 10
  initdbScripts:
    init.sql: |-
      CREATE USER features WITH PASSWORD 'features';
      CREATE DATABASE features WITH OWNER = features ENCODING = 'UTF-8' CONNECTION LIMIT = -1;
  persistence:
    enabled: false