{{- if .Values.importer.oneoff.enabled }}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ template "hmcts.releaseName" . }}-importer
  labels:
    app.kubernetes.io/name: {{ template "hmcts.releaseName" . }}-importer
    app.kubernetes.io/managed-by: {{ .Release.Service | quote }}
    app.kubernetes.io/instance: {{ .Release.Name | quote }}
    helm.sh/chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
  annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-weight: "5"
    helm.sh/hook-delete-policy: before-hook-creation  # Move to hook-succeeded after first charts are done 
spec:
  template:
    metadata:
      name: {{ template "hmcts.releaseName" . }}-importer
      labels:
        app.kubernetes.io/managed-by: {{ .Release.Service | quote }}
        app.kubernetes.io/instance: {{ .Release.Name | quote }}
        helm.sh/chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    spec:
      {{- if .Values.importer.kvSecretRef }}
      volumes:
        - name: kvcreds
          flexVolume:
            driver: "azure/kv"
            secretRef:
              name: {{ default "kvcreds" .Values.importer.kvSecretRef }} 
            options:
              usepodidentity: "false"
              subscriptionid: {{ .Values.global.subscriptionId }}
              tenantid: {{ .Values.global.tenantId }}
              keyvaultname: {{ include "importer.vault" . | quote }}
              resourcegroup: {{ include "importer.resourcegroup" . | quote }}
              keyvaultobjectnames: "admin-username-cmc;admin-password-cmc"
              keyvaultobjecttypes: "secret;secret" # OPTIONS: secret, key, cert
      {{- end }}
      containers:
        - name: {{ template "hmcts.releaseName" . }}-importer
          image: {{ .Values.importer.oneoff.image }} 
          imagePullPolicy: {{ .Values.importer.oneoff.imagePullPolicy }}
          command: ["sh", "-c", "{{ .Values.importer.oneoff.command }}"]
          {{- if .Values.importer.kvSecretRef }}
          volumeMounts:
          - name: kvcreds
            mountPath: /kvmnt
            readOnly: true
          {{- end }}
          env:
          {{- if .Values.importer.kvSecretRef }}
          - name: IMPORTER_CREDS_MOUNT
            value: "/kvmnt"
          {{- else }}
          - name: ADMIN_USERNAME
            value: "{{ .Values.importer.adminUsername }}"
          - name: ADMIN_PASSWORD
            value: "{{ .Values.importer.adminPassword }}"
          {{- end }}
          - name: FEATURE_TOGGLE_API_URL
            value: "{{ .Values.importer.apiUrl }}"
          - name: PERMISSIONS
            value: "{{ .Values.importer.oneoff.permissions }}"
          - name: VERBOSE
            value: "true"
      restartPolicy: Never   # Move to "OnFailure" after first charts are done 
{{- end }}
{{- if .Values.importer.cron.enabled }}
---
apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: {{ template "hmcts.releaseName" . }}-importer
  labels:
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    app.kubernetes.io/name: {{ template "hmcts.releaseName" . }}-importer
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/instance: {{ template "hmcts.releaseName" . }}
spec:
  schedule: {{ .Values.importer.cron.schedule | quote }}
  concurrencyPolicy: {{ .Values.importer.cron.concurrencyPolicy }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ template "hmcts.releaseName" . }}-importer
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app.kubernetes.io/name: {{ template "hmcts.releaseName" . }}-importer
        spec:
          {{- if .Values.importer.kvSecretRef }}
          volumes:
            - name: kvcreds
              flexVolume:
                driver: "azure/kv"
                secretRef:
                  name: {{ default "kvcreds" .Values.importer.kvSecretRef }} 
                options:
                  usepodidentity: "false"
                  subscriptionid: {{ .Values.global.subscriptionId }}
                  tenantid: {{ .Values.global.tenantId }}
                  keyvaultname: {{ include "importer.vault" . | quote }}
                  resourcegroup: {{ include "importer.resourcegroup" . | quote }}
                  keyvaultobjectnames: "admin-username-cmc;admin-password-cmc"
                  keyvaultobjecttypes: "secret;secret" # OPTIONS: secret, key, cert
          {{- end }}
          containers:
          - image: {{ .Values.importer.cron.image }}
            name: {{ template "hmcts.releaseName" . }}-importer
            imagePullPolicy: {{ .Values.importer.cron.imagePullPolicy }}
            command: ["sh", "-c", "{{ .Values.importer.cron.command }}"]
            {{- if .Values.importer.kvSecretRef }}
            volumeMounts:
            - name: kvcreds
              mountPath: /kvmnt
              readOnly: true
            {{- end }}
            env:
              {{- if .Values.importer.kvSecretRef }}
              - name: IMPORTER_CREDS_MOUNT
                value: "/kvmnt"
              {{- end }}
              - name: FEATURE_TOGGLE_API_URL
                value: "http://{{ template "hmcts.releaseName" . }}/api/ff4j/store/features/"
              - name: PERMISSIONS
                value: "{{ .Values.importer.cron.permissions }}"
              - name: VERBOSE
                value: "true"
              - name: ADMIN_USERNAME
                value: "{{ .Values.importer.adminUsername }}"  # kvcreds takes priority
              - name: ADMIN_PASSWORD
                value: "{{ .Values.importer.adminPassword }}"  # kvcreds takes priority
          restartPolicy: Never
      backoffLimit: 4
{{- end }}